APP_NAME="DBCS API"
ENVIRONMENT=development
DEBUG=true

SECRET_KEY=change-me-to-a-64-char-random-secret-value-0123456789abcdef

DATABASE_URL=mysql+pymysql://dbcs_user:CHANGE_ME@127.0.0.1:3306/e_cards?charset=utf8mb4

ALLOWED_ORIGINS=http://localhost:5173

PUBLIC_BASE_URL=http://localhost:5173

API_V1_PREFIX=/api/v1

DOCS_ENABLED=true
REDOC_ENABLED=true

DB_ECHO=false

ACCESS_TOKEN_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=7

SELF_REGISTRATION_ENABLED=true

REFRESH_COOKIE_NAME=refresh_token
REFRESH_COOKIE_SAMESITE=lax
# для dev (http)
REFRESH_COOKIE_SECURE=false 
# для prod
#REFRESH_COOKIE_SECURE=true
#SELF_REGISTRATION_ENABLED=false
